@page "/"
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject Codes.RoleHandler _RoleHandler

<h1>Local File Transfer App</h1>


@code {
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        await _RoleHandler.CreateUserRoles("amein", "Admin");

        var authStateProvider = await _authenticationStateProvider.GetAuthenticationStateAsync();
        isAdmin = authStateProvider.User.IsInRole("Admin");
        if (authStateProvider.User.Identity.IsAuthenticated)
        {
            if (isAdmin)
                _navigationManager.NavigateTo("/fileuploader");
            else
                _navigationManager.NavigateTo("/filedownloader");
        }
    }
}